*.o

Schematics/~*
Schematics/Plots
Schematics/JunkBoxMsf (*.txt
Schematics/JunkBoxMsf (*.csv

Simulations/GoertzelRange/GoertzelRange
Simulations/MplabStimulus/MplabStimulus
Simulations/MplabStimulus/stimulus.txt

Firmware/JunkBoxMsf.X/**
!Firmware/JunkBoxMsf.X/Makefile
!Firmware/JunkBoxMsf.X/nbproject
